@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?aef8go');
    src: url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
    content: "\e900";

}

.icon-back:before {
    content: "\e901";
}

.icon-bookmark:before {
    content: "\e902";
}

.icon-bookmark-fill:before {
    content: "\e903";
}

.icon-calendar:before {
    content: "\e904";
}

.icon-chevron-left:before {
    content: "\e905";
}
.icon-chevron-right:before {
    content: "\e905";
    display: block;
    transform: rotate(180deg);
}

.icon-chevron-duo:before {
    content: "\e906";
}

.icon-clock:before {
    content: "\e907";
}

.icon-close:before {
    content: "\e908";
}

.icon-comment:before {
    content: "\e909";
}

.icon-done:before {
    content: "\e90a";
}

.icon-eye:before {
    content: "\e90b";
}

.icon-eye-slash:before {
    content: "\e90c";
}

.icon-facebook:before {
    content: "\e90d";
}

.icon-facebook-rounded:before {
    content: "\e90e";
}

.icon-frame:before {
    content: "\e90f";
}

.icon-google-rounded:before {
    content: "\e910";
}

.icon-link:before {
    content: "\e911";
}

.icon-lock:before {
    content: "\e912";
}

.icon-long-arrow:before {
    content: "\e913";
}

.icon-ok:before {
    content: "\e914";
}

.icon-person:before {
    content: "\e915";
}

.icon-play:before {
    content: "\e916";
}

.icon-plus:before {
    content: "\e917";
}

.icon-refresh:before {
    content: "\e918";
}

.icon-search:before {
    content: "\e919";
}

.icon-share:before {
    content: "\e91a";
}

.icon-telegram:before {
    content: "\e91b";
}

.icon-twitter:before {
    content: "\e91c";
}

.icon-union-facebook:before {
    content: "\e91d";
}

.icon-union-instagram:before {
    content: "\e91e";
}

.icon-union-twitter:before {
    content: "\e91f";
}

.icon-unlock:before {
    content: "\e920";
}

.icon-views:before {
    content: "\e921";
}

.icon-vk-rounded:before {
    content: "\e922";
}

.icon-whatsapp:before {
    content: "\e923";
}