<div class="authSubmit-modal">
    <div class="authSubmit-modal__content">
        <img src="../img/logo.png" alt="logo" class="authSubmit-modal__logo">

        <h3>Bine ai venit la GenericNews</h3>
        <strong>Salutare sandurusu12,</strong>
        <p>Multumim pentru inregistrare! Suntem încântați să vă avem la bord.</p>

        <button class="button button-danger rounded authSubmit-button">Incepe acum</button>

        <p>
            Puteți accesa zona contului pentru a vedea comenzile și pentru a modifica setările contului aici:
            <a href="#">http://generic.md/my-account/</a>.
        </p>

        <div class="authSubmit-modal__social">
            <a href="https://www.facebook.com/petru.orbu.1/" target="_blank"><i class="icon-union-facebook"></i></a>
            <a href="#" target="_blank"><i class="icon-union-twitter"></i></a>
            <a href="https://www.instagram.com/whhroo/" target="_blank"><i class="icon-union-instagram"></i></a>
        </div>
    </div>
</div>
