<footer class="footer">
    <div class="container footer-container">
        <div class="footer-column">
            <a href="#">
                <img src="../img/footer-logo.png" alt="logo">
            </a>
        </div>

        <div class="footer-column">
            <h5>Pagini</h5>
            <ul class="footer-column__list">
                <li><a href="/">Principala</a></li>
                <li><a href="../category.html">Politic</a></li>
                <li><a href="../category.html"">Social</a></li>
                <li><a href=" ../category.html"">Economic</a></li>
                <li><a href="../category.html"">Cultură</a></li>
            </ul>
        </div>
        <div class=" footer-column">
                        <h5>Our Policy</h5>
                        <ul class="footer-column__list">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookies Policy</a></li>
                            <li><a href="#">Insider Trading Policy</a></li>
                        </ul>
        </div>
        <div class="footer-column">
            <h5>Rețele sociale</h5>
            <ul class="footer-column__list">
                <li><a href="https://www.facebook.com/petru.orbu.1/" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/whhroo/" target="_blank">Instagram</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h5>Abonează-te la știri</h5>
            <form action="#" class="subscribe-form">
                <input type="email" placeholder="Indica adresa de email">
                <button class="button button-light">Trimite</button>
            </form>
        </div>
    </div>

    <div class="footer-copyright">
        <p>Copyright © GENERIC.MD 2021</p>
    </div>
</footer>
