<div class="upper-header">
    <div class="container">
        <nav class="upper-header__nav">
            <ul class="upper-header__menu">
                <li class="active"><a href="/">GENERIC.MD</a></li>
                <li><a href="../news.html">PODCASTURI</a></li>
                <!-- <li><a href="#">MENU2</a></li>
                <li><a href="#">MENU3</a></li>
                <li><a href="#">MENU4</a></li> -->
            </ul>
        </nav>
    </div>
</div>

<header class="header">
    <div class="header-progress">
        <div class="header-progress__line"></div>
    </div>
    <div class="container header-container">
        <div class="header-logo">
            <a href="/"><img src="../img/logo.png" alt="logo"></a>
        </div>
        <div class="header-logo header-logo--sticky">
            <h2><a href="/">GENERIC.MD</a></h2>
        </div>

        <nav class="header-menu">
            <h3>Rubrici</h3>
            <ul class="header-menu__list">
                <li class="active"><a href="/">Principala</a></li>
                <li><a href="../category.html">Politic</a></li>
                <li><a href="../category.html">Social</a></li>
                <li><a href="../category.html">Economic</a></li>
                <li><a href="../category.html">Cultură</a></li>
                <li><a href="../category.html">Sport</a></li>
                <li><a href="../category.html">COVID</a></li>
            </ul>

            <h3>Limba</h3>
            <button class="language-toggler header-buttons__language" data-language="ro">RO</button>

            <h3>Vezi și</h3>
            <div class="header-menu__second">
                <ul class="header-menu__list">
                    <li><a href="/">GENERIC.MD</a></li>
                    <li><a href="../news.html">PODCASTURI</a></li>
                    <!-- <li><a href="#">MENU2</a></li>
                    <li><a href="#">MENU3</a></li>
                    <li><a href="#">MENU4</a></li> -->
                </ul>
            </div>
        </nav>

        <div class="header-buttons">
            <button class="header-buttons__search icon-search"></button>
            <button class="language-toggler header-buttons__language" data-language="ro">RO</button>
            <!-- <button class="header-buttons__login button button-dark">
                <span class="icon-person"></span>
                <span class="login-text">Logare</span>
            </button> -->


            <!-- IF USER IS LOG IN -->

            <button class="header-buttons__account button button-dark">
                <span class="icon-person"></span>
                <span class="login-text">Vezi profilul</span>
            </button>
            @@include('isLogged.html')

            <!-- IF USER IS LOG IN -->



            <button class="burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
