<div class="account-popup">
    <div class="account-popup__header">
        <p>Salutare, <strong>sandurusu13</strong></p>
    </div>
    <div class="account-popup__subscribe">
        <span>Nu aveți nici un abonament activ</span>
    </div>

    <div class="account-popup__controls">
        <button class="account-control account-control__information">
            <i class="icon-frame"></i>Date personale
        </button>
        <button class="account-control account-control__articles">
            <i class="icon-bookmark"></i>Articole salvate
        </button>
        <button class="account-control account-control__subscribe">
            <i class="icon-unlock"></i>Abonamente</button>
    </div>

    <div class="account-popup__buttons">
        <button class="button button-outline account-logout">Iesire din profil</button>
        <button class="button button-danger account-follow">Abonează-te</button>
    </div>

    <div class="account-popup__info">
        <h5>Ce primiți, dacă vă abonați:</h5>
        <ul>
            <li><i class="icon-done"></i>site curat, fără bannere</li>
            <li><i class="icon-done"></i>conținut exclusiv</li>
            <li><i class="icon-done"></i>status de contribuitor</li>
        </ul>
    </div>
</div>