<div class="mistake-modal">
    <div class="mistake-modal__content">
        <h3>Raportați o greșeală în text</h3>
        <p>Greșeala:<strong>... Dodon bravo ...</strong></p>

        <form action="#" class="mistake-form">
            <p>
                <label for="message">Comentariu</label>
                <textarea name="message" id="message" placeholder="Type something"></textarea>
            </p>

            <div class="mistake-form__buttons">
                <button type="submit" class="button button-danger">Trimite</button>
                <button type="button" class="button button-outline mistake-form__close">Anuleaza</button>
            </div>
        </form>
    </div>
</div>
