<aside class="popular-articles sidebar">
    <h4>Ultimile noutăți</h4>

    <ul class="popular-articles__list">
        <li class="popular-articles__item">
            <article class="blog-article popular-article__post">
                <div class="blog-article__meta">
                    <time>12:32</time>
                    <span>/</span>
                    <a href="#" class="blog-article__category">Politic</a>
                </div>
                <a href="#" class="blog-article__title">
                    După 3 ani la cârma Metalferos, Igor Cujbă își anunță demisia: „A fost un mandat dificil”
                </a>
            </article>
        </li>
        <li class="popular-articles__item">
            <article class="blog-article popular-article__post">
                <div class="blog-article__meta">
                    <time>12:20</time>
                    <span>/</span>
                    <a href="#" class="blog-article__category">Social</a>
                </div>
                <a href="#" class="blog-article__title">
                    <strong>
                        Nobis voluptatem dolore doloribus sint repudiandae ipsum consequuntur alias nemo. Ut eum adipisci. Rem similique consequatur voluptas.
                    </strong>
                </a>
            </article>
        </li>
        <li class="popular-articles__item">
            <article class="blog-article popular-article__post">
                <div class="blog-article__meta">
                    <time>11:40</time>
                    <span>/</span>
                    <a href="#" class="blog-article__category">Ecomonic</a>
                </div>
                <a href="#" class="blog-article__title">
                    Pariatur et et sapiente velit ullam iste voluptas. Error fugiat minus. Autem illo distinctio et nisi. Quia ipsam qui reiciendis saepe. Ullam et aut dolorem consequatur mollitia iure possimus labore ipsam.
                </a>
            </article>
        </li>
        <li class="popular-articles__item">
            <article class="blog-article popular-article__post">
                <div class="blog-article__meta">
                    <time>09:14</time>
                    <span>/</span>
                    <a href="#" class="blog-article__category">Cultură</a>
                </div>
                <a href="#" class="blog-article__title">
                    <strong>Et unde eum maxime.</strong> Quia magni dolore doloribus debitis iusto deserunt. Eos eaque maiores. Excepturi et blanditiis explicabo autem eos.
                </a>
            </article>
        </li>
        <li class="popular-articles__item">
            <article class="blog-article popular-article__post">
                <div class="blog-article__meta">
                    <time>08:50</time>
                    <span>/</span>
                    <a href="#" class="blog-article__category">COVID</a>
                </div>
                <a href="#" class="blog-article__title">
                    Odio quaerat et sit dolores possimus eos fuga mollitia. Aut labore accusantium temporibus. Aut autem doloremque quo dolorem delectus ea. Voluptatum atque qui eius.
                </a>
            </article>
        </li>
        <li class="popular-articles__item">
            <article class="blog-article popular-article__post">
                <div class="blog-article__meta">
                    <time>08:50</time>
                    <span>/</span>
                    <a href="#" class="blog-article__category">COVID</a>
                </div>
                <a href="#" class="blog-article__title">
                    Odio quaerat et sit dolores possimus eos fuga mollitia. Aut labore accusantium temporibus. Aut autem doloremque quo dolorem delectus ea. Voluptatum atque qui eius.
                </a>
            </article>
        </li>
    </ul>

    <div class="popular-articles__more">
        <a href="#">Vezi toate stirile <span class="icon-chevron-duo"></span></a>
    </div>
</aside>