<div class="password-modal">
    <div class="password-modal__content">
        <h3>Resetează parolă</h3>
        <form action="#" class="reset-form">
            <p>
                <label for="password-reset">Parola nouă</label>
                <i class="icon-eye" id="password-toggler3"></i>
                <input type="password" id="password-reset" placeholder="***********">
            </p>
            <p>
                <label for="password-confirm">Confirmă parola</label>
                <i class="icon-eye" id="password-toggler4"></i>
                <input type="password" id="password-confirm" placeholder="***********">
                <small class="error"></small>
            </p>

            <div class="form-buttons">
                <p>
                    Ai deja cont? <button type="button">Loghează-te</button>
                </p>
                <button type="submit" class="button button-danger rounded">Recuperează</button>
            </div>
        </form>
    </div>
    <button class="icon-close close-modal"></button>
</div>
