<div class="profile-modal">
    <div class="profile-modal__controls">
        <div class="button-group" id="tabs">
            <button class="button button-outline rounded-full button-tab active">Date personale</button>
            <button class="button button-outline rounded-full button-tab">Articole salvate</button>
            <button class="button button-outline rounded-full button-tab">Abonamente</button>
        </div>

        <button class="profile-modal__close icon-close"></button>
    </div>

    <div class="profile-modal__content personal-data show">
        <div class="personal-data__image">
            <div class="personal-image__block">
                <button class="icon-close"></button>
                <img src="../img/profile-pic-empty.jpg" alt="">
                <button class="icon-plus"></button>
            </div>
        </div>
        <div class="personal-data__information">
            <form action="#" class="personal-data__form">
                <label for="profile-username">
                    Username
                    <input type="text" id="profile-username" value="current-name">
                </label>

                <label for="profile-email">
                    Adresă email
                    <input type="email" id="profile-email" value="current-email">
                    <input type="password" id="profile-password" placeholder="Introduceți parola">
                </label>

                <label for="old-password">
                    Schimbare parolă
                    <input type="password" id="old-password" placeholder="Parola veche">
                    <input type="password" id="new-password" placeholder="Parola noua">
                    <input type="password" id="new-password__confirm" placeholder="Confirmă parolă">
                </label>

                <button type="submit" class="button button-danger">Salvează modificări</button>
            </form>
        </div>
    </div>

    <div class="profile-modal__content saved-posts">
        <p class="saved-posts__text">Aici sunt articolele salvate de tine. Poți să ștergi cele care nu te mai
            interesează.</p>
        <div class="saved-posts__articles" data-simplebar>
            <article class="blog-article blog-article__post">
                <img src="img/home-post6.jpg" alt="article" />

                <div class="blog-article__content">
                    <h5>
                        10 luni de tăcere între Irina Vlah și Maia Sandu: A spus o minciună când a venit în Găgăuzia.
                        Trebuie să unească țara, nu să o împartă.
                    </h5>
                    <a href="#" class="blog-article__description">
                        Nullam eget euismod enim, eu lobortis magna. Suspendisse eget ex ut diam lacinia convallis sed
                        sed erat. Donec vitae leo quam. Donec non nisi viverra, vestibulum dui vitae, tincidunt magna.
                        Morbi ut vulputate eros. Phasellus eu gravida diam. Cras sit amet mattis odio, id efficitur
                        neque. Nullam tortor metus, mollis vel facilisis eget, volutpat nec turpis. Morbi condimentum
                        volutpat vestibulum. Nulla turpis sem, dignissim ut enim vel, dignissim feugiat erat.
                    </a>
                    <div class="blog-article__footer">
                        <div class="blog-article__meta">
                            <a href="#" style="color: #F34C4C">COVID</a>
                            <small>/</small>
                            <span><i class="icon-calendar"></i>06 octombrie 2021</span>
                            <small>/</small>
                            <span><i class="icon-views"></i>9012</span>
                            <small>/</small>
                            <span><i class="icon-comment"></i>25</span>
                        </div>

                        <div class="blog-article__controls">
                            <button class="icon-bookmark-fill"></button>
                        </div>
                    </div>
                </div>
            </article>

            <article class="blog-article blog-article__post">
                <img src="img/home-post6.jpg" alt="article" />

                <div class="blog-article__content">
                    <h5>
                        10 luni de tăcere între Irina Vlah și Maia Sandu: A spus o minciună când a venit în Găgăuzia.
                        Trebuie să unească țara, nu să o împartă.
                    </h5>
                    <a href="#" class="blog-article__description">
                        Nullam eget euismod enim, eu lobortis magna. Suspendisse eget ex ut diam lacinia convallis sed
                        sed erat. Donec vitae leo quam. Donec non nisi viverra, vestibulum dui vitae, tincidunt magna.
                        Morbi ut vulputate eros. Phasellus eu gravida diam. Cras sit amet mattis odio, id efficitur
                        neque. Nullam tortor metus, mollis vel facilisis eget, volutpat nec turpis. Morbi condimentum
                        volutpat vestibulum. Nulla turpis sem, dignissim ut enim vel, dignissim feugiat erat.
                    </a>
                    <div class="blog-article__footer">
                        <div class="blog-article__meta">
                            <a href="#" style="color: #F34C4C">COVID</a>
                            <small>/</small>
                            <span><i class="icon-calendar"></i>06 octombrie 2021</span>
                            <small>/</small>
                            <span><i class="icon-views"></i>9012</span>
                            <small>/</small>
                            <span><i class="icon-comment"></i>25</span>
                        </div>

                        <div class="blog-article__controls">
                            <button class="icon-bookmark-fill"></button>
                        </div>
                    </div>
                </div>
            </article>

            <article class="blog-article blog-article__post">
                <img src="img/home-post6.jpg" alt="article" />

                <div class="blog-article__content">
                    <h5>
                        10 luni de tăcere între Irina Vlah și Maia Sandu: A spus o minciună când a venit în Găgăuzia.
                        Trebuie să unească țara, nu să o împartă.
                    </h5>
                    <a href="#" class="blog-article__description">
                        Nullam eget euismod enim, eu lobortis magna. Suspendisse eget ex ut diam lacinia convallis sed
                        sed erat. Donec vitae leo quam. Donec non nisi viverra, vestibulum dui vitae, tincidunt magna.
                        Morbi ut vulputate eros. Phasellus eu gravida diam. Cras sit amet mattis odio, id efficitur
                        neque. Nullam tortor metus, mollis vel facilisis eget, volutpat nec turpis. Morbi condimentum
                        volutpat vestibulum. Nulla turpis sem, dignissim ut enim vel, dignissim feugiat erat.
                    </a>
                    <div class="blog-article__footer">
                        <div class="blog-article__meta">
                            <a href="#" style="color: #F34C4C">COVID</a>
                            <small>/</small>
                            <span><i class="icon-calendar"></i>06 octombrie 2021</span>
                            <small>/</small>
                            <span><i class="icon-views"></i>9012</span>
                            <small>/</small>
                            <span><i class="icon-comment"></i>25</span>
                        </div>

                        <div class="blog-article__controls">
                            <button class="icon-bookmark-fill"></button>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="saved-posts__empty">
            <h3>Nu ai niciun articol salvat</h3>
        </div>
    </div>

    <div class="profile-modal__content subscribe-plan">
        <div class="plan-changer__plan">
            <div class="plan-content">
                <h3>Lunar</h3>
                <div class="plan-content__price">
                    <h2>160 mdl </h2>
                    <span>5 lei pe zi</span>
                </div>
                <a href="#" class="button button-danger">Abonare</a>
            </div>
        </div>

        <div class="plan-changer__plan">
            <div class="plan-content">
                <h3>Anual</h3>
                <div class="plan-content__price">
                    <h2>1460 mdl</h2>
                    <span>4 lei pe zi</span>
                </div>
                <a href="#" class="button button-primary">Abonare</a>
            </div>
        </div>

        <div class="plan-changer__plan list">
            <div class="plan-content">
                <h4>Ce primiți, dacă vă abonați:</h4>
                <ul>
                    <li><span class="icon-done"></span>site curat, fără bannere</li>
                    <li><span class="icon-done"></span>conținut exclusiv</li>
                    <li><span class="icon-done"></span>status de contribuitor</li>
                </ul>
            </div>
        </div>

        <div class="plan-changer__plan text">
            <div class="plan-content">
                <h4>
                    Înțelegem dacă nu vrei să îți iei un abonament, iar dacă totuși vrei să ne susții, te invităm să
                    faci o plată unică.
                </h4>
            </div>
        </div>

        <div class="plan-changer__plan payment">
            <div class="plan-content">
                <h5>Scopul acestei plăți:</h5>
                <p>Întreținerea serverului, susținerea autorilor de conținut, biscuiți în oficiu </p>

                <form action="#" class="plan-payment__form">
                    <p>
                        <label for="sum">
                            Suma(mdl):
                            <input type="text" id="sum">
                            <i class="icon-close"></i>
                        </label>
                    </p>
                    <button type="submit" class="button button-warning">Doneaza</button>
                </form>
            </div>
        </div>
    </div>
</div>
