<div class="raport-modal">
    <h3>Raportează noutate</h3>
    <form action="#" class="raport-modal__form">
        <p>
            <label for="message">Comentariu<span>*</span></label>
            <textarea name="message" id="message" placeholder="Type something"></textarea>
        </p>
        <p>
            <label for="data">Date de contact<span>*</span></label>
            <input type="text" id="data" placeholder="Ex. Nume, telefon">
        </p>
        <p>
            <input type="file" id="file">
        </p>
        <p>

            <label for="termeni"><input type="checkbox" id="termeni">Sunt de acord cu <a href="#">termenii de
                    publicație</a></label>
        </p>
        <button class="button button-danger">Trimite</button>
    </form>
</div>
