<div class="search-modal">
    <div class="search-modal__header">
        <h1>Cautare</h1>
        <a href="#" class="button search-all button-outline">Toate rezultatele</a>
        <button class="icon-close search-close"></button>
    </div>

    <form action="#" class="search-modal__form">
        <input type="text" id="search">
    </form>

    <div class="search-modal__grid">
        <div class="scroll">
            <div class="search-modal__result">
                <img src="../img/search-result0.jpg" alt="article">
                <a href="#">Постправда о постправде: в российском переводе книги Юваля Харари главу про Путина и Крым
                    заменили Трампом. Автор утвердил правки</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result1.jpg" alt="article">
                <a href="#">“ПриватБанк” подарит iPhone каждому, кто откажется от фамилий Путин, Сталин и других</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result2.jpg" alt="article">
                <a href="#">Залечь на дно в Ницце – интервью со сбежавшим от власти Путина российским бизнесменом Виталием
                    Архангельским</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result3.jpg" alt="article">
                <a href="#">Холодный прием Путина и почему молчит Кернес: что украинцы искали в интернете на этой неделе</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result4.jpg" alt="article">
                <a href="#">Как действия Путина в Украине убивают российскую стартап-культуру</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result5.jpg" alt="article">
                <a href="#">«Наследницу» S.T.A.L.K.E.R. от украинской гейм-студии West Games забанили на Kickstarter после
                    “письма от Путина”</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result6.jpg" alt="article">
                <a href="#">Максимальный репост: звезда для Путина, часовой пояс “Россия” и новые приключения Елены
                    Бондаренко</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result7.jpg" alt="article">
                <a href="#">Статья “Путин-х***ло” стала самой популярной в украинской “Википедии”</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result8.jpg" alt="article">
                <a href="#">Культ личности: итальянские ювелиры выпустили золотые iPhone с портретом Путина</a>
            </div>
            <div class="search-modal__result">
                <img src="../img/search-result9.jpg" alt="article">
                <a href="#">Mortal Kombat по-украински: с участием Яроша, Януковича, Путина, Ляшко и других</a>
            </div>
        </div>
    </div>
</div>
