<aside class="sidebar page-sidebar">
    <div class="page-sidebar__block sidebar-meteo">
        <h4>Prognoza Meteo</h4>
        <table class="sidebar-table">
            <tr>
                <th>06:00</th>
                <th><img src="../img/mostly-cloudy.svg" alt="mostly cloudy"></th>
                <th><small>Cer noros,<br> fără precipitații</small></th>
                <th>
                    <strong>+5°</strong>
                </th>
            </tr>
            <tr>
                <th>06:00</th>
                <th><img src="../img/cloudy.svg" alt="mostly cloudy"></th>
                <th><small>Parțial noros,<br>fără precipitații</small></th>
                <th>
                    <strong>+12°</strong>
                </th>
            </tr>
            <tr>
                <th>06:00</th>
                <th><img src="../img/showers.svg" alt="mostly cloudy"></th>
                <th><small>Ploaie moderată</small></th>
                <th>
                    <strong>+11°</strong>
                </th>
            </tr>
            <tr>
                <th>06:00</th>
                <th><img src="../img/sunny.svg" alt="mostly cloudy"></th>
                <th><small>Senin,<br> fără precipitații</small></th>
                <th>
                    <strong>+8°</strong>
                </th>
            </tr>
        </table>
    </div>

    <div class="page-sidebar__block sidebar-currency">
        <h4>Curs valutar</h4>
        <table class="sidebar-table">
            <tr>
                <th><span><img src="../img/icons/usa.svg" alt="usa"> USD</span></th>
                <th><small>17,3742 MDL</small></th>
                <th><small>-0,0051<img src="../img/icons/caret_down.svg" alt="down"></small></th>
            </tr>
            <tr>
                <th><span><img src="../img/icons/eu.svg" alt="eu"> EUR</span></th>
                <th><small>20,2419 MDL</small></th>
                <th><small>+0,0294<img src="../img/icons/caret_up.svg" alt="up"></small></th>
            </tr>
            <tr>
                <th><span><img src="../img/icons/rus.svg" alt="rus"> RUB</span></th>
                <th><small>0,2419 MDL</small></th>
                <th><small>-0,0006 <img src="../img/icons/caret_down.svg" alt="down"></small></th>
            </tr>
            <tr>
                <th><span><img src="../img/icons/rom.svg" alt="rom"> RON</span></th>
                <th><small>4,0552 MDL</small></th>
                <th><small>-0,0058 <img src="../img/icons/caret_down.svg" alt="down"></small></th>
            </tr>
            <tr>
                <th><span><img src="../img/icons/ukr.svg" alt="ukr"> UAH</span></th>
                <th><small>0,6594 MDL</small></th>
                <th><small>-0,0001 <img src="../img/icons/caret_down.svg" alt="down"></small></th>
            </tr>
        </table>
    </div>

    <div class="page-sidebar__block sidebar-ads">
        <h4>Reclama</h4>
        <a href="#">
            <img src="../img/ad-sidebar.jpg" alt="">
        </a>
    </div>

    <div class="page-sidebar__block sidebar-top">
        <h4>Topuri</h4>
        <div class="page__sidebar-slider sidebar-slider">
            <div class="sidebar-slider__body">
                <div class="sidebar-slider__slider">
                    <div class="slider-sidebar__body swiper">
                        <div class="slider-sidebar__slide">
                            <div class="sidebar-slide__meta"
                                style="background: url('../img/sidebar-slide1.jpg') 50% 50% / cover no-repeat;">
                                <a href="#">Social</a>
                                <span>/</span>
                                <a href="#">Poze</a>
                            </div>
                            <p>20 de locuri autentice ce merită vizitate într-un city break la Chișinău</p>
                        </div>
                        <div class="slider-sidebar__slide">
                            <div class="sidebar-slide__meta"
                                style="background: url('../img/sidebar-slide1.jpg') 50% 50% / cover no-repeat;">
                                <a href="#">Social</a>
                                <span>/</span>
                                <a href="#">Poze</a>
                            </div>
                            <p>20 de locuri autentice ce merită vizitate într-un city break la Chișinău</p>
                        </div>
                        <div class="slider-sidebar__slide">
                            <div class="sidebar-slide__meta"
                                style="background: url('../img/sidebar-slide1.jpg') 50% 50% / cover no-repeat;">
                                <a href="#">Politica</a>
                                <span>/</span>
                                <a href="#">Poze</a>
                            </div>
                            <p>
                                20 de locuri autentice ce merită vizitate într-un city break la Chișinău Lorem, ipsum.
                            </p>
                        </div>
                        <div class="slider-sidebar__slide">
                            <div class="sidebar-slide__meta"
                                style="background: url('../img/sidebar-slide1.jpg') 50% 50% / cover no-repeat;">
                                <a href="#">Economie</a>
                                <span>/</span>
                                <a href="#">Poze</a>
                            </div>
                            <p>
                                20 de locuri autentice ce merită vizitate într-un city break la Chișinău Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit. Praesentium, obcaecati.
                            </p>
                        </div>
                        <div class="slider-sidebar__slide">
                            <div class="sidebar-slide__meta"
                                style="background: url('../img/sidebar-slide1.jpg') 50% 50% / cover no-repeat;">
                                <a href="#">Cultura</a>
                                <span>/</span>
                                <a href="#">Poze</a>
                            </div>
                            <p>
                                20 de locuri autentice ce merită vizitate într-un city break la Chișinău Lorem, ipsum
                                dolor.
                            </p>
                        </div>
                    </div>

                    <div class="slider-sidebar-controls">
                        <div class="slider-sidebar-controls__arrows slider-arrows">
                            <button type="button" class="slider-arrow slider-arrow__prev icon-chevron-left"></button>
                            <div class="slider-sidebar-controls__dots"></div>
                            <button type="button" class="slider-arrow slider-arrow__next icon-chevron-right"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-sidebar__block sidebar-tags">
        <h4>Tag-uri populare</h4>
        <ul class="sidebar-tags__list">
            <li><a href="#">#Maia Sandu</a></li>
            <li><a href="#">#COVID</a></li>
            <li><a href="#">#Chisinau</a></li>
            <li><a href="#">#UTA</a></li>
            <li><a href="#">#Vaccin</a></li>
            <li><a href="#">#Afganistan</a></li>
            <li><a href="#">#Maia Sandu</a></li>
            <li><a href="#">#COVID</a></li>
            <li><a href="#">#Primarie</a></li>
            <li><a href="#">#UTA</a></li>
            <li><a href="#">#Vaccin</a></li>
            <li><a href="#">#Afganistan</a></li>
            <li><a href="#">#Gavril</a></li>
            <li><a href="#">#Maia Sandu</a></li>
            <li><a href="#">#COVID</a></li>
            <li><a href="#">#Chisinau</a></li>
            <li><a href="#">#UTA</a></li>
            <li><a href="#">#Vaccin</a></li>
            <li><a href="#">#Afganistan</a></li>
            <li><a href="#">#Maia Sandu</a></li>
            <li><a href="#">#COVID</a></li>
        </ul>
    </div>

    <div class="page-sidebar__block sidebar-contact">
        <h5>Ai o noutate? Scrie-ne!</h5>
        <img src="../img/icons/sidebar-contacts.svg" alt="contact">
    </div>
</aside>
