.upper-header {
    @media (max-width: $md3) {
        display: none;
    }
    &__nav {
        background-color: $bgcolor;
        .upper-header__menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li {
                &:not(:last-child) {
                    margin-right: 15px;
                }
                &:last-child {
                    margin-right: 10px;
                }
                &.active {
                    a {
                        background-color: $accentcolor;
                    }
                }
                a {
                    color: #fff;
                    display: block;
                    padding: 10px;
                    transition: .4s;
                    &:hover {
                        background-color: $accentcolor;
                    }
                }
            }
        }
    }
}

.header {
    &-progress {
        display: none;
    }
    &.sticky {
        position: sticky;
        top: 0;
        background-color: $accentcolor;
        animation: stickyHeader .4s;
        z-index: 30;
        .header-progress {
            display: block;
            width: 100%;
            height: 5px;
            position: relative;
            .header-progress__line {
                background-color: #fff;
                height: 100%;
                transition: all 0.4s;
            }
        }
        .header-container {
            background-color: transparent;
            border: none;
            .header-logo {
                display: none;
                &--sticky {
                    display: block;
                }
            }
            .header-menu {
                &__list {
                    li {
                        &.active {
                            a {
                                color: #fff;
                                @media (max-width: $md3) {
                                    color: #000;
                                }
                            }
                        }
                        a {
                            color: #fff;
                            @media (max-width: $md3) {
                                color: #000;
                            }
                            &:hover {
                                color: #fff;
                                @media (max-width: $md3) {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
            .header-buttons {
                display: flex;
                align-items: center;
                gap: 10px;
                &__search {
                    border: 1px solid #fff;
                    color: #fff;
                    &:hover {
                        background-color: #fff;
                        color: $maincolor;
                    }
                }
                &__language {
                    border: 1px solid #fff;
                    color: #fff;
                    &:hover {
                        background-color: #fff;
                        color: $maincolor;
                    }
                }
                .burger {
                    border: 1px solid #fff;
                    &.active {
                        border: 1px solid #000;
                        span {
                            background-color: transparent;
                            &:first-child {
                                background-color: #000;
                            }
                            &:last-child {
                                background-color: #000;
                            }
                        }
                    }
                    span {
                        background-color: #fff;
                    }
                }
                &__login {
                    border: 1px solid #fff;
                    background-color: #fff;
                    color: $maincolor;
                    .icon-person {
                        color: $maincolor;
                    }
                    &:hover {
                        background-color: $maincolor;
                        color: #fff;
                        border: 1px solid $maincolor;
                    }
                }
                &__account {
                    border: 1px solid #fff;
                    background-color: #fff;
                    color: $maincolor;
                    .icon-person {
                        color: $maincolor;
                    }
                    &:hover {
                        background-color: $maincolor;
                        color: #fff;
                        border: 1px solid $maincolor;
                        .icon-person {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &-container {
        display: flex;
        align-items: center;
        border: 1px solid #E4E4E4;
        background-color: #fff;
        padding: 20px;
        gap: 60px;
        @media(max-width: $md1) {
            gap: 20px;
        }
        @media(max-width: $md4) {
            padding: 20px;
        }
    }
    &-logo {
        @media (max-width: $md3) {
            flex: 1;
        }
        &--sticky {
            display: none;
            h2 {
                font-family: 'RobotoSlab';
                a {
                    color: #fff;
                }
            }
        }
        a {
            img {
                width: 230px;
                height: auto;
                @media (max-width: $md2) {
                    width: 200px;
                }
                @media(max-width: $md4) {
                    width: 150px;
                }
            }
        }
    }
    &-menu {
        flex: 1;
        transition: all 0.4s;
        @media (max-width: $md3) {
            position: fixed;
            top: 0;
            bottom: 0;
            right: -60%;
            background-color: #fff;
            width: 60%;
            padding-left: 50px;
            padding-top: 120px;
            overflow: auto;
            z-index: 52 !important;
            &.active {
                right: 0;
            }
            .header-buttons__language {
                font-weight: 500;
                padding: 0 12px;
                border: 1px solid $maincolor !important;
                height: 44px;
                display: flex;
                transition: all 0.4s;
                text-transform: uppercase;
                align-items: center;
                color: #232323 !important;
                margin-bottom: 50px;
                &:hover {
                    background-color: transparent;
                }
            }
        }
        @media (max-width: $md5) {
            right: -80%;
            width: 80%;
        }
        h3 {
            display: none;
            font-weight: 600;
            font-size: 24px;
            color: #FF655E;
            margin-bottom: 20px;
            @media (max-width: $md3) {
                display: block;
            }
        }
        .header-menu__second {
            display: none;
            @media (max-width: $md3) {
                display: block;
            }
        }
        .header-buttons__language {
            display: none;
        }
        &__list {
            display: flex;
            align-items: center;
            gap: 30px;
            @media(max-width: $md1) {
                gap: 15px;
            }
            @media (max-width: $md3) {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 30px;
                margin-bottom: 50px;
            }
            li {
                &.active {
                    a {
                        color: #000;
                        font-weight: 600;
                    }
                }
                a {
                    font-weight: 500;
                    text-transform: uppercase;
                    transition: all 0.4s;
                    @media (max-width: $md3) {
                        font-size: 18px;
                    }
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        &__search {
            font-size: 24px;
            border: 1px solid $maincolor;
            padding: 0 12px;
            height: 44px;
            display: flex;
            transition: all 0.4s;
            align-items: center;
            color: $maincolor;
            @media (max-width: $md3) {
                width: 36px;
                height: 36px;
                justify-content: center;
            }
            &:hover {
                background-color: $maincolor;
                color: #fff;
            }
        }
        &__language {
            font-weight: 500;
            padding: 0 12px;
            border: 1px solid $maincolor;
            height: 44px;
            display: flex;
            transition: all 0.4s;
            text-transform: uppercase;
            align-items: center;
            @media (max-width: $md3) {
                display: none;
            }
            &:hover {
                background-color: $maincolor;
                color: #fff;
            }
        }
        .burger {
            border: 1px solid #232323;
            padding: 10px;
            display: flex;
            width: 36px;
            height: 36px;
            flex-direction: column;
            display: none;
            position: relative;
            z-index: 52;
            @media (max-width: $md3) {
                display: block;
            }
            &.active {
                span {
                    transform: translateX(-20px);
                    background-color: transparent;
                    &:first-child {
                        transform: rotate(45deg) translateY(3px) translateX(4px);
                        background-color: $maincolor;
                    }
                    &:last-child {
                        transform: rotate(-45deg) translateY(-3px) translateX(4px);
                        background-color: $maincolor;
                    }
                }
            }
            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $bgcolor;
                transition: all 0.4s;
                &:not(:last-child) {
                    margin-bottom: 3px;
                }
            }
        }
        &__account {
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 44px;
            border: 1px solid $maincolor;
            @media (max-width: $md2) {
                width: auto;
                padding: 0 8px;
            }
            @media (max-width: $md3) {
                width: 36px;
                height: 36px;
                justify-content: center;
            }
            .icon-person {
                font-size: 24px;
                color: #fff;
                @media (max-width: $md3) {
                    font-size: 16px;
                }
            }
            .login-text {
                font-weight: 500;
                @media (max-width: $md2) {
                    display: none;
                }
            }
        }
        &__login {
            width: 116px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 44px;
            border: 1px solid $maincolor;
            @media (max-width: $md2) {
                width: auto;
                padding: 0 12px;
            }
            @media (max-width: $md3) {
                width: 36px;
                height: 36px;
                justify-content: center;
            }
            .icon-person {
                font-size: 24px;
                color: #fff;
                @media (max-width: $md3) {
                    font-size: 16px;
                }
            }
            .login-text {
                font-weight: 500;
                @media (max-width: $md2) {
                    display: none;
                }
            }
        }
    }
}

@keyframes stickyHeader {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(-0);
    }
}