.raport-modal {
    position: fixed;
    z-index: 55;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 625px;
    background-color: #FFFFFF;
    padding: 40px;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    @media (max-width: $md5) {
        max-width: 95%;
    }
    @media (max-width: $md6) {
        padding: 20px;
    }
    &.open {
        opacity: 1;
        visibility: visible;
    }
    h3 {
        font-family: 'RobotoSlab';
        margin-bottom: 30px;
    }
    .raport-modal__form {
        p {
            position: relative;
            input[type="file"] {
                border: none;
                padding: 0;
                margin-bottom: 15px;
            }
            input[type="file"]::-webkit-file-upload-button {
                background-color: #E4E9F2;
                border: none;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.03em;
                color: $maincolor;
                font-family: inherit;
                transition: all 0.4s;
                padding: 20px 0;
                width: 140px;
                &:hover {
                    background-color: darken($color: #E4E9F2, $amount: 6);
                }
            }
            input[type="checkbox"] {
                display: inline-block;
                position: absolute;
                max-width: 18px;
                max-height: 18px;
                bottom: -1px;
                z-index: 2;
                opacity: 0;
            }
            label[for="termeni"] {
                padding-left: 25px;
                font-size: 14px;
                letter-spacing: 0.03em;
                color: #000000;
                a {
                    color: #005B9C;
                }
            }
            .checkbox {
                display: grid;
                place-items: center;
                width: 18px;
                height: 18px;
                transition: all 0.4s;
                position: absolute;
                bottom: 1px;
                border: 2px solid $bgcolor;

                .icon-done {
                    color: #fff;
                    opacity: 0;
                }
            }
            input[type="checkbox"]:checked~.checkbox {
                background-color: $bgcolor;
                opacity: 1;
                .icon-done {
                    color: #fff;
                    opacity: 1;
                }
            }
        }
        button {
            margin-top: 30px;
        }
    }
}