.page-sidebar {
    width: 100%;
    margin: 0 auto;
    &__block {
        background-color: #fff;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        h4 {
            padding: 20px;
        }
        .sidebar-table {
            width: 100%;
            th {
                border: 1px solid $linecolor;
                font-weight: normal;
                padding: 10px 0;
                small,
                span {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .sidebar-meteo {
        .sidebar-table {
            tr {
                th {
                    img {
                        max-width: 32px;
                        max-height: 32px;
                    }
                    small {
                        text-align: left;
                        font-size: 10px;
                        line-height: 140%;
                    }
                    strong {
                        font-weight: 600;
                        color: $maincolor;
                    }
                }
            }
        }
    }
    .sidebar-currency {
        .sidebar-table {
            tr {
                th {
                    span {
                        color: #000;
                        img {
                            margin-right: 10px;
                        }
                    }
                    small {
                        img {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .sidebar-ads {
        display: none;
        a {
            display: block;
            border-top: 1px solid $linecolor;
            padding: 20px 0;
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .sidebar-top {
        padding-bottom: 20px;
        .page__sidebar-slider {
            .sidebar-slider__body {
                .sidebar-slider__slider {
                    @media (max-width: $md3) {
                        max-width: 430px;
                        margin: 0 auto;
                    }
                    @media (max-width: $md6) {
                        max-width: 280px;
                        margin: 0 auto;
                    }
                    .slider-sidebar__body {
                        .slider-sidebar__slide {
                            .sidebar-slide__meta {
                                height: 250px;
                                display: flex;
                                align-items: flex-end;
                                justify-content: flex-start;
                                padding: 20px;
                                a {
                                    font-family: 'RobotoSlab';
                                    font-weight: 500;
                                    color: #FFFFFF;
                                }
                                span {
                                    font-weight: bold;
                                    color: #FFFFFF;
                                    display: block;
                                    margin: 0 5px;
                                }
                            }
                            .sidebar-slider__title {
                                margin: 20px;
                                line-height: 140%;
                                display: block;
                                @media (max-width: $md3) {
                                    margin: 0;
                                    margin: 20px 0;
                                }
                            }
                        }
                    }
                    .slider-sidebar-controls {
                        .slider-sidebar-controls__dots {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .swiper-pagination-bullet {
                                background-color: #2B2B2B;
                                width: 5px;
                                height: 5px;
                                opacity: 1;
                                transition: all 0.4s;
                                &-active {
                                    width: 10px;
                                    height: 10px;
                                    border: 1px solid #2B2B2B;
                                    background-color: transparent
                                }
                            }
                        }
                        &__arrows {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0 20px;
                            .swiper-button-disabled {
                                opacity: .6;
                            }
                            .slider-arrow {
                                font-size: 24px;
                                color: #B9B9B9;
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-tags {
        background-color: $bgcolor;
        padding-bottom: 20px;
        h4 {
            color: #fff;
        }
        &__list {
            padding: 0 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            li {
                a {
                    font-size: 12px;
                    color: $maincolor;
                    background-color: #fff;
                    padding: 8px 10px;
                    display: block;
                    transition: all 0.4s;
                    &:hover {
                        background-color: $accentcolor;
                        color: #fff;
                    }
                }
            }
        }
    }
    .sidebar-write {
        padding: 30px 0;
        text-align: center;
        cursor: pointer;
        h5 {
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }
    }
}